body {
  color: #000000;
  background-color: #aee274;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  margin: 0;
}

textarea {
  resize: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767.5px) {
  .container {
    max-width: 425px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  padding-top: 30px;
}

.header__container {
  padding-bottom: 30px;
}

.header__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.header__nav {
  border-radius: 20px;
  background-color: #ffe703;
}

.header__list {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
}

.header__link {
  color: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover, .header__link:focus {
  color: #00b300;
}

.header__item:not(:last-child) {
  margin-right: 15px;
}

.greeting {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  height: 450px;
  max-width: 1200px;
  border-radius: 20px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
}

.greeting__title {
  margin-bottom: 20px;
  color: #ffffff;
}

.greeting__text {
  color: #ffffff;
}

.about {
  padding-top: 60px;
  padding-bottom: 60px;
}

.about__item {
  display: flex;
  gap: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.about__item:nth-child(even) {
  flex-direction: row-reverse;
}
.about__item:not(:last-child) {
  border-bottom: 1px solid #ffe703;
}

.about-item__thumb {
  margin-top: auto;
  margin-bottom: auto;
}

.about__link {
  color: #0d6c31;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about__link:hover, .about__link:focus {
  color: #ffe703;
}

.about-item__header,
.about-item__text {
  margin-bottom: 10px;
}

.about__img {
  border-radius: 20px;
}

.footer {
  padding-bottom: 30px;
}

.footer__container {
  padding: 30px;
  border-radius: 20px;
  background-color: #ffe703;
}

.footer__thumb {
  display: flex;
  position: relative;
  padding-bottom: 30px;
  justify-content: space-around;
}

.footer-address__list {
  text-align: center;
}

.footer-address__item {
  font-style: normal;
}
.footer-address__item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-address__link {
  color: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address__link:hover, .footer-address__link:focus {
  color: #00b300;
}

.footer-social-links {
  text-align: center;
}

.footer-social-links__links {
  display: flex;
  justify-content: center;
}

.footer-social-links__link {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-social-links__link:not(:last-child) {
  margin-right: 10px;
}

.footer-social-links__icon {
  height: 20px;
  width: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-links__icon:hover, .footer-social-links__icon:focus {
  fill: #00b300;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 10px;
  margin-top: 25px;
  border-top: 1px solid #00b300;
}

.footer__logo {
  position: absolute;
  top: 0;
  left: 5;
}

.footer-social-links__title {
  margin-bottom: 10px;
}/*# sourceMappingURL=main.css.map */