// COLORS
$primary-text-color: #000000;
$secondary-text-color: #ffffff;
$primary-bg-color: #aee274;
$header-nav-bg-color: #ffe703;
$accent-color: #00b300;

// DEVICE SIZES
$min-mobile: 320px;
$min-tablet: 768px;
$min-desktop: 1200px;

$max-mobile: 767.5px;
$max-tablet: 1199.5px;
